---
import "../styles.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<meta name="theme-color" content="#000000" />

		<title>Kachi - Visually display your keystrokes</title>
		<meta name="description" content="Kachi is a tool that allows you to visually display your keystrokes in real time." />
	</head>
	<body>
		<div class="relative h-screen w-screen overflow-hidden bg-black">
			<video 
				id="hero-video"
				src="/video.mp4" 
				autoplay 
				muted 
				loop 
				class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-1000"
			></video>
		</div>
		<script>
			const video = document.getElementById('hero-video');
			video?.addEventListener('loadeddata', () => {
				video.classList.remove('opacity-0');
				video.classList.add('opacity-100');
			});
		</script>
	</body>
</html>
